@import 'vars'
@import 'mixins'
@import 'scrollbar'

body, html, #app, .wrapper
    padding: 0
    margin: 0
    height: 100%
    background-color: $grey
    +text

.wrapper
    .content-area
        height: unquote("calc(100% - 28px)")
        width: 100%
        position: absolute
        top: 28px
        background-color: $dark-grey
        overflow: auto

.su-tabs-container
    display: flex
    justify-content: start

.su-tabs
    background-color: $red
    padding: 10px 20px
    display: inline-block
    user-select: none
    position: relative
    &:hover
        background-color: $blue
        cursor: pointer

.su-tabs-active
    background-color: $green